<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Daftarkan Pendaki :  <b Nama></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-md-4">Kapan Kembali :</div>
                            <div class="col-md-8">
                                <input type="date" name="kembali" class="form-control" />
                                <input type="hidden" name="nik" />
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary m-1 ml-auto">Simpan</button>
                            <button type="button" class="btn btn-danger m-1 mr-3">Hapus</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover bg-light">
    <thead>
        <tr class="shadow">
            <th>No.</th>
            <th>NIK</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Usia</th>
            <th>Pekerjaan</th>
            <th>Nomor Hp</th>
            <th>Email</th>
            <th>Berangkat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="9">Data kosong</td>
        </tr>
    </tbody>
</table>
<script src="./js/pendaftar.js"></script>